@font-face {
  src: url('./assets/icon.ttf');
}
div {
  background: url('./assets/webpack.png');
}
.box1 {
  background: url('@/assets/webpack.png');
}
.box2 {
  background: url('https://example.com/imgs/webpack.png');
}
